.jumbotron {
	background: url(transparent_white.png);
}

body {
	background: url(pic2.jpg);


    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}